#标题颜色 {
    color: black;
    background-color:rgb(0,127,255);
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    animation: donghua 3s;
}

ul {
    list-style-type: none;
    background-color: rgb(139,0,255);
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    animation: donghua1 7s;
    animation-iteration-count: infinite;
}

li a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    color: black;
    float: left;
    font-size: 20px;
}

li a:hover{
    background-color: rgb(255, 0, 0);
    animation: donghua1 0.5s;
    animation-iteration-count: infinite;
}

li a:active{
    background-color: green;
    animation: donghua2 0.5s;
}

@keyframes donghua1 {
    0%{
        background-color: rgb(252, 5, 5);
    }
    16%{
        background-color: rgb(255, 165, 0);
    }
    32%{
        background-color: yellow;
    }
    48%{
        background-color: green;
    }
    64%{
        background-color: rgb(0,127,255);
    }
    80%{
        background-color: blue;
    }
    100%{
        background-color: rgb(139,0,255);
    }
}

@keyframes donghua2 {
    0%{
        background-color: green;
    }
    100%{
        background-color: red;
    }
}

.z {
    display: flex;
    background-color: rgb(19, 204, 173);
    text-align: center;
    height: 400px;
    width: 1400px;
    padding: 10px;
    justify-content: center;
    margin: 60px;
}

.box {
    display: flex;
    position: relative;
    border: 5px solid black;
    height: 200px;
    justify-content: center;
}

.aaa {
    display: inline;
    position: absolute;
    left: 666px;
    top: -2px;
}

.字体 {
    font-size: 50px;
}

#班级口号 {
    font-size: 25px;
}

.box1 {
    display: flex;
    position: relative;
    height: 400px;
    justify-content: center;
}

.aaaa {
    display: inline;
    position: absolute;
    left: 275px;
    top: 60px;
}

.zhiti {
    font-size: 20px;
}

@keyframes donghua {
    0%{
        background-color: white;
        width: 0px;
        height: 0px;
        font-size: 1px;
        color: white;
    }
    100%{
        background-color: rgb(0,127,255);
        width: 100%;
        height: 200px;
        align-items: center;
        justify-content: center;
    }
}

@keyframes 动漫 {
    0%{
        background-color: rgb(252, 5, 5);
        width: 200px;
        height: 200px;
        border-radius: 0px;
    }
    16%{
        background-color: rgb(255, 165, 0);
        width: 400px;
        height: 400px;
        border-radius: 200px;
    }
    32%{
        background-color: yellow;
        width: 200px;
        height: 200px;
        border-radius: 0px;
    }
    48%{
        background-color: green;
        width: 400px;
        height: 400px;
        border-radius: 200px;
    }
    64%{
        background-color: rgb(0,127,255);
        width: 200px;
        height: 200px;
        border-radius: 0px;
    }
    80%{
        background-color: blue;
        width: 400px;
        height: 400px;
        border-radius: 200px;
    }
    100%{
        background-color: rgb(139,0,255);
        width: 200px;
        height: 200px;
        border-radius: 0px;
    }
}

.动画{
    color: aqua;
    background-color: rgb(139,0,255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 5px solid blue;
    animation: 动漫 14s;
    animation-iteration-count: infinite;
    justify-content: space-around;
    position: absolute;
    right: 5%;
    top: -25px;
}